body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#info-panel {
  display: flex;
  flex-direction: row;
}

#region-select {
  display: flex;
  flex-direction: column;
}
